subscription_id         = "00000000-0000-0000-0000-000000000000"
location                = "westeurope"
resource_group_name     = "rg-k8s-tf-azure-dev"
vnet_name               = "vnet-k8s-tf-azure-dev"
subnet_name             = "snet-k8s-node"
nsg_name                = "nsg-k8s-node"
vm_name                 = "vm-k8s-node-01"
vm_size                 = "Standard_B2ms"
admin_username          = "azureuser"
admin_ssh_public_key_path = "C:/Users/YourUser/.ssh/k8s_tf_azure.pub"
ssh_allowed_cidr        = "203.0.113.10/32"
